@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --pirma: #defcf4;
  --antra: #def5fc;
  --tracia: #cad8fc;
  --teksto1: #301934;
  --teksto2: #1c0f1f;
  --linko: #0505af;
  --butono1: #0505af;
  --danger: #cd5353;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0px;
  padding: 30px;
  background-color: var(--tracia);
  font-family: "Cabin";
}

p {
  color: var(--teksto1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--teksto2);
}

a {
  text-decoration: none;
  text-decoration-line: none;
  color: var(--linko);
}

button {
  background: var(--antra);
  padding: 10px;
  border: 1px solid;
  color: var(--butono1);
  border-radius: 5px;
  font-family: "Cabin";
  cursor: pointer;
  font-weight: 700;
}

.reserve-btn {
  margin-top: auto;
  max-width: 100px;
}

form {
  display: flex;
  max-width: 500px;
  width: 100%;
  flex-direction: column;
}

.reserve-form {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

input {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px;
  border-radius: 5px;
  padding: 15px;
}

textarea {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px;
  border-radius: 5px;
  padding: 15px;
}

input[checkbox] {
  scale: 3;
}

.daiktai {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 30px;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .daiktai {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.daiktas-details {
  background-color: var(--antra);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.daiktas-details span {
  background: var(--antra);
  padding: 10px;
  border: 1px solid;
  color: var(--danger);
  border-radius: 5px;
  font-family: "Cabin";
  cursor: pointer;
  font-weight: 700;
}

.daiktas-details a {
  background: var(--antra);
  padding: 10px;
  border: 1px solid;
  color: var(--butono1);
  border-radius: 5px;
  font-family: "Cabin";
  cursor: pointer;
  font-weight: 700;
}

.daiktas-details-btn-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  margin-top: auto;
}

.nav-reservations-links-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-reservations-links-container a {
  background: var(--antra);
  padding: 10px;
  border: 1px solid;
  color: var(--butono1);
  border-radius: 5px;
  font-family: "Cabin";
  cursor: pointer;
  font-weight: 700;
}

.login-signup-container {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}

.login-signup-container a {
  background: var(--antra);
  padding: 10px;
  border: 1px solid;
  color: var(--butono1);
  border-radius: 5px;
  font-family: "Cabin";
  cursor: pointer;
  font-weight: 700;
}

.owner-reservation-buttons-container {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.owner-reservations-container {
  background-color: var(--antra);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.owner-reservations-grid {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 30px;
}

@media only screen and (max-width: 1450px) {
  .owner-reservations-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 30px;
  }
}

@media only screen and (max-width: 1050px) {
  .owner-reservations-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .owner-reservations-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.reservations {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 30px;
}

@media only screen and (max-width: 1450px) {
  .reservations {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 30px;
  }
}

@media only screen and (max-width: 1050px) {
  .reservations {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .reservations {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.reservation-details {
  background-color: var(--antra);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.reservation-details button {
  max-width: 100px;
}

.create button {
  max-width: 150px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 90px;
}

.about-div {
  max-width: 800px;
}

@media only screen and (max-width: 1050px) {
  .about-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
}
